# Hall of Fame Prediction

## Import Packages:

In [1]:
import pandas as pd #For data manipulation

import numpy as np #For data computation array,linear alegbra,etc.

In [2]:
#total_years.csv obtained from github:
#https://github.com/Raylo95/NBA-Player-Stats/tree/main/NBA%20Total%20Stats/All_Years
path = 'total_years.csv'

df= pd.read_csv(path)

## Data Info:

Finding out the overall shape of the dataframe and the columns data type

In [3]:
print(df.shape)

df.info()

(26722, 30)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26722 entries, 0 to 26721
Data columns (total 30 columns):
Player    26722 non-null object
Year      26722 non-null int64
Pos       26722 non-null object
Age       26722 non-null float64
Tm        26722 non-null object
G         26722 non-null float64
GS        26722 non-null float64
MP        26722 non-null float64
FG        26722 non-null float64
FGA       26722 non-null float64
FG%       26722 non-null float64
3P        26722 non-null float64
3PA       26722 non-null float64
3P%       26722 non-null float64
2P        26722 non-null float64
2PA       26722 non-null float64
2P%       26722 non-null float64
eFG%      26722 non-null float64
FT        26722 non-null float64
FTA       26722 non-null float64
FT%       26722 non-null float64
ORB       26722 non-null float64
DRB       26722 non-null float64
TRB       26722 non-null float64
AST       26722 non-null float64
STL       26722 non-null float64
BLK       26722 non-null float64
TOV       26722 non-null float64
PF        26722 non-null float64
PTS       26722 non-null float64
dtypes: float64(26), int64(1), object(3)
memory usage: 6.1+ MB

Checking to see how much NaN values in the dataframe

In [4]:
df.isnull().sum() / df.shape[0]

Player    0.0
Year      0.0
Pos       0.0
Age       0.0
Tm        0.0
G         0.0
GS        0.0
MP        0.0
FG        0.0
FGA       0.0
FG%       0.0
3P        0.0
3PA       0.0
3P%       0.0
2P        0.0
2PA       0.0
2P%       0.0
eFG%      0.0
FT        0.0
FTA       0.0
FT%       0.0
ORB       0.0
DRB       0.0
TRB       0.0
AST       0.0
STL       0.0
BLK       0.0
TOV       0.0
PF        0.0
PTS       0.0
dtype: float64

Basic statistics on the dataframe

In [5]:
df.describe()

,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,...,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000,26722.000000
mean,1994.489447,26.617319,50.036636,17.541090,1164.033792,191.884440,422.844323,0.428888,19.074021,54.398361,...,0.692890,51.331974,124.636966,217.404461,112.866178,33.305030,20.457638,58.349936,113.335229,502.313001
std,18.249781,3.864324,26.600089,26.593909,938.515179,186.327096,394.112484,0.102694,37.464806,100.092780,...,0.197145,64.792994,143.595619,225.047151,134.381372,37.800668,34.396003,66.572484,84.009845,489.383185
min,1950.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1982.000000,24.000000,26.000000,0.000000,292.000000,39.000000,95.000000,0.392000,0.000000,0.000000,...,0.643000,3.000000,10.000000,46.250000,18.000000,2.000000,1.000000,3.000000,37.000000,103.000000
50%,1997.000000,26.000000,56.000000,1.000000,994.000000,137.000000,312.000000,0.438000,1.000000,4.000000,...,0.739000,26.000000,77.000000,153.000000,66.000000,21.000000,8.000000,34.500000,104.000000,356.000000
75%,2010.000000,29.000000,75.000000,27.000000,1913.000000,293.000000,650.000000,0.480000,19.000000,60.000000,...,0.807000,75.000000,189.000000,311.000000,157.000000,52.000000,24.000000,93.750000,178.000000,767.000000
max,2020.000000,44.000000,88.000000,83.000000,3882.000000,1597.000000,3159.000000,1.000000,402.000000,1028.000000,...,1.000000,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000,464.000000,386.000000,4029.000000

Display all columns

In [6]:
pd.set_option('display.max_columns', None)

df.head()

,Player,Year,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Shareef Abdur-Rahim,2005,PF,28.0,POR,54.0,49.0,1867.0,337.0,670.0,0.503,15.0,39.0,0.385,322.0,631.0,0.510,0.514,220.0,254.0,0.866,123.0,269.0,392.0,111.0,49.0,26.0,117.0,150.0,909.0
1,Cory Alexander,2005,SG,31.0,CHA,16.0,1.0,201.0,16.0,49.0,0.327,8.0,19.0,0.421,8.0,30.0,0.267,0.408,9.0,12.0,0.750,8.0,21.0,29.0,37.0,9.0,1.0,19.0,29.0,49.0
2,Malik Allen,2005,PF,26.0,TOT,36.0,1.0,519.0,84.0,177.0,0.475,0.0,0.0,0.000,84.0,177.0,0.475,0.475,26.0,28.0,0.929,40.0,59.0,99.0,18.0,9.0,22.0,18.0,53.0,194.0
3,Malik Allen,2005,PF,26.0,MIA,14.0,0.0,248.0,35.0,76.0,0.461,0.0,0.0,0.000,35.0,76.0,0.461,0.461,13.0,14.0,0.929,24.0,28.0,52.0,11.0,4.0,11.0,11.0,29.0,83.0
4,Malik Allen,2005,PF,26.0,CHA,22.0,1.0,271.0,49.0,101.0,0.485,0.0,0.0,0.000,49.0,101.0,0.485,0.485,13.0,14.0,0.929,16.0,31.0,47.0,7.0,5.0,11.0,7.0,24.0,111.0

Data was split into two dataframes because certain stats weren't recorded pre modern era. The year the 3pt line was added to the present day and years after is usually consider the modern era and the years before are consider the pre modern era.

1) Modern era Years >= 1980

2) Pre Modern era Years <=1979

In [7]:
modern_df=df[df['Year'] >= 1980]
modern_df.head()

,Player,Year,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Shareef Abdur-Rahim,2005,PF,28.0,POR,54.0,49.0,1867.0,337.0,670.0,0.503,15.0,39.0,0.385,322.0,631.0,0.510,0.514,220.0,254.0,0.866,123.0,269.0,392.0,111.0,49.0,26.0,117.0,150.0,909.0
1,Cory Alexander,2005,SG,31.0,CHA,16.0,1.0,201.0,16.0,49.0,0.327,8.0,19.0,0.421,8.0,30.0,0.267,0.408,9.0,12.0,0.750,8.0,21.0,29.0,37.0,9.0,1.0,19.0,29.0,49.0
2,Malik Allen,2005,PF,26.0,TOT,36.0,1.0,519.0,84.0,177.0,0.475,0.0,0.0,0.000,84.0,177.0,0.475,0.475,26.0,28.0,0.929,40.0,59.0,99.0,18.0,9.0,22.0,18.0,53.0,194.0
3,Malik Allen,2005,PF,26.0,MIA,14.0,0.0,248.0,35.0,76.0,0.461,0.0,0.0,0.000,35.0,76.0,0.461,0.461,13.0,14.0,0.929,24.0,28.0,52.0,11.0,4.0,11.0,11.0,29.0,83.0
4,Malik Allen,2005,PF,26.0,CHA,22.0,1.0,271.0,49.0,101.0,0.485,0.0,0.0,0.000,49.0,101.0,0.485,0.485,13.0,14.0,0.929,16.0,31.0,47.0,7.0,5.0,11.0,7.0,24.0,111.0

In [8]:
drop_co = ['3P','3PA','GS','3P%','ORB','DRB','STL','BLK','TOV','eFG%']

pre_mod_df=df[df['Year'] <= 1979] 

pre_mod_df = pre_mod_df.drop(drop_co, axis=1)

pre_mod_df.head()

,Player,Year,Pos,Age,Tm,G,MP,FG,FGA,FG%,2P,2PA,2P%,FT,FTA,FT%,TRB,AST,PF,PTS
20950,Paul Arizin*,1956,SF,27.0,PHW,72.0,2724.0,617.0,1378.0,0.448,617.0,1378.0,0.448,507.0,626.0,0.810,539.0,189.0,282.0,1741.0
20951,Jesse Arnelle,1956,PF,22.0,FTW,31.0,409.0,52.0,164.0,0.317,52.0,164.0,0.317,43.0,69.0,0.623,170.0,18.0,60.0,147.0
20952,Dick Atha,1956,SG,24.0,NYK,25.0,288.0,36.0,88.0,0.409,36.0,88.0,0.409,21.0,27.0,0.778,42.0,32.0,39.0,93.0
20953,Jim Baechtold,1956,SF,28.0,NYK,70.0,1738.0,268.0,695.0,0.386,268.0,695.0,0.386,233.0,291.0,0.801,220.0,163.0,156.0,769.0
20954,Ernie Barrett,1956,SG,26.0,BOS,72.0,1451.0,207.0,533.0,0.388,207.0,533.0,0.388,93.0,118.0,0.788,243.0,174.0,184.0,507.0

### Saving the dataframes to use later

In [9]:
#Exporting Modern dataset
modern_df.to_csv('modern_df.csv',index=False)

pre_mod_df.to_csv('pre_modern_df.csv',index=False)
#Exporting Pre Modern dataset

## Data Wrangling:

Grouping the data by players

In [10]:
player_mdf= modern_df.groupby('Player',as_index=False).sum().round(3)

player_pmdf =pre_mod_df.groupby('Player',as_index=False).sum().round(3)

In [11]:
#Checking to make sure the groupby worked
player_mdf.loc[player_mdf['Player'] == 'Michael Jordan*',:]

,Player,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2138,Michael Jordan*,29892,432.0,1072.0,1039.0,41011.0,12192.0,24537.0,7.324,581.0,1778.0,4.259,11611.0,22759.0,7.51,7.5,7327.0,8772.0,12.464,1668.0,5004.0,6672.0,5633.0,2514.0,893.0,2924.0,2783.0,32292.0

Had to change the totals to per game stats

Created a list of the columns to divide by total number of games to get the per game stats

**1) Modern Era**

In [12]:
per_game = ['MP', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

#For loop thats divides each column by the Games column
for stat in per_game:
    player_mdf[stat] = player_mdf[stat].div(player_mdf['G'])
    
    
    

# Create three separate list and ran a for loop to calculate the percentages for certain stats    
percent = ['FG%','3P%', '2P%', 'FT%']

made= ['FG','3P','2P','FT' ]

attempt=['FGA','3PA', '2PA', 'FTA']

 
for p,m,a in zip (percent,made,attempt):
    player_mdf[p]= player_mdf[m]/player_mdf[a]
    
    
    
    
#Used this formula to calculate the eFG% "(FG + 0.5 * 3P) / FGA". Formula was obtained from
# Basketball Reference

player_mdf['eFG%'] = (player_mdf['FG'] + 0.5 * player_mdf['3P'])/player_mdf['FGA']

In [13]:
player_mdf

,Player,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,A.C. Green,35890,538.0,1361.0,905.0,28.687730,3.510654,7.116826,0.493289,0.091844,0.373990,0.245580,3.418810,6.742836,0.507028,0.499742,2.385746,3.267450,0.730155,2.627480,4.814842,7.442322,1.079353,0.810434,0.412932,1.108009,1.896400,9.498898
1,A.J. Bramlett,2000,23.0,8.0,0.0,7.625000,0.500000,2.625000,0.190476,0.000000,0.000000,NaN,0.500000,2.625000,0.190476,0.190476,0.000000,0.000000,NaN,1.500000,1.250000,2.750000,0.000000,0.125000,0.000000,0.375000,1.625000,1.000000
2,A.J. English,3983,47.0,151.0,18.0,20.582781,4.086093,9.390728,0.435120,0.059603,0.430464,0.138462,4.026490,8.960265,0.449372,0.438293,1.715232,2.205298,0.777778,0.927152,1.158940,2.086093,2.119205,0.377483,0.158940,1.344371,1.900662,9.947020
3,A.J. Guyton,6006,69.0,80.0,14.0,15.575000,2.075000,5.500000,0.377273,0.912500,2.412500,0.378238,1.162500,3.087500,0.376518,0.460227,0.462500,0.562500,0.822222,0.275000,0.725000,1.000000,1.837500,0.250000,0.150000,0.775000,0.725000,5.525000
4,A.J. Hammons,2017,24.0,22.0,0.0,7.409091,0.772727,1.909091,0.404762,0.227273,0.454545,0.500000,0.545455,1.454545,0.375000,0.464286,0.409091,0.909091,0.450000,0.363636,1.272727,1.636364,0.181818,0.045455,0.590909,0.454545,0.954545,2.181818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,Šarūnas Marčiulionis*,13954,199.0,363.0,30.0,22.377410,4.327824,8.564738,0.505307,0.349862,0.947658,0.369186,3.977961,7.617080,0.522242,0.525732,3.752066,4.884298,0.768190,0.804408,1.451791,2.256198,2.223140,1.264463,0.085399,1.969697,2.674931,12.757576
3179,Žan Tabak,15983,215.0,304.0,104.0,15.101974,2.233553,4.493421,0.497072,0.000000,0.013158,0.000000,2.233553,4.480263,0.498532,0.497072,0.598684,1.197368,0.500000,1.345395,2.256579,3.601974,0.700658,0.279605,0.539474,1.085526,2.434211,5.065789
3180,Žarko Paspalj,1990,23.0,28.0,1.0,6.464286,0.964286,2.821429,0.341772,0.000000,0.035714,0.000000,0.964286,2.785714,0.346154,0.341772,0.642857,0.785714,0.818182,0.535714,0.535714,1.071429,0.357143,0.107143,0.250000,0.750000,1.321429,2.571429
3181,Žarko Čabarkapa,10025,115.0,190.0,4.0,10.657895,1.684211,3.815789,0.441379,0.194737,0.652632,0.298387,1.489474,3.163158,0.470882,0.466897,1.057895,1.405263,0.752809,0.700000,1.478947,2.178947,0.578947,0.226316,0.157895,0.784211,1.473684,4.621053
3182,Željko Rebrača,14028,217.0,239.0,24.0,14.866109,2.184100,4.196653,0.520439,0.000000,0.000000,NaN,2.184100,4.196653,0.520439,0.520439,1.351464,1.711297,0.789731,0.916318,2.205021,3.121339,0.393305,0.259414,0.715481,0.920502,2.359833,5.719665

**2) Pre Modern Era**

In [14]:
per_game_p = ['MP', 'FG', 'FGA', '2P', '2PA', 'FT', 'FTA', 'TRB', 'AST',  'PF', 'PTS']

#For loop thats divides each column by the Games column
for stat in per_game_p:
    
    player_pmdf[stat] = player_pmdf[stat].div(player_pmdf['G'])
    
    

# Create three separate list and ran a for loop to calculate the percentages for certain stats    
percent_p = ['FG%','2P%', 'FT%']

made_p= ['FG','2P','FT' ]

attempt_p=['FGA','2PA', 'FTA']

 
for p,m,a in zip (percent_p,made_p,attempt_p):
    
    player_pmdf[p]= player_pmdf[m]/player_pmdf[a]

In [15]:
player_pmdf

,Player,Year,Age,G,MP,FG,FGA,FG%,2P,2PA,2P%,FT,FTA,FT%,TRB,AST,PF,PTS
0,A.W. Holt,1971,24.0,6.0,2.333333,0.166667,1.333333,0.125000,0.166667,1.333333,0.125000,0.333333,0.500000,0.666667,0.666667,0.000000,0.166667,0.666667
1,Aaron James,9885,120.0,356.0,21.547753,4.519663,9.401685,0.480729,4.519663,9.401685,0.480729,1.716292,2.258427,0.759950,4.129213,1.039326,2.730337,10.755618
2,Adrian Dantley*,9890,110.0,295.0,35.447458,7.030508,13.677966,0.514002,7.030508,13.677966,0.514002,6.271186,7.742373,0.809982,7.352542,2.671186,2.857627,20.332203
3,Adrian Smith,23605,361.0,796.0,24.385678,4.070352,9.560302,0.425756,4.070352,9.560302,0.425756,3.090452,3.683417,0.839018,2.087940,2.297739,2.339196,11.231156
4,Al Attles*,21626,319.0,711.0,25.071730,3.514768,7.798875,0.450676,3.514768,7.798875,0.450676,1.870605,2.962025,0.631529,3.464135,3.492264,3.399437,8.900141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,York Larese,5886,69.0,118.0,11.915254,2.067797,5.542373,0.373089,2.067797,5.542373,0.373089,0.983051,1.220339,0.805556,1.305085,1.593220,1.762712,5.118644
1334,Zaid Abdul-Aziz,27629,371.0,570.0,21.273684,3.396491,8.049123,0.421970,3.396491,8.049123,0.421970,1.940351,2.694737,0.720052,7.936842,1.136842,2.217544,8.733333
1335,Zeke Sinicola,3906,48.0,12.0,4.000000,0.416667,1.666667,0.250000,0.416667,1.666667,0.250000,0.250000,0.666667,0.375000,0.166667,0.250000,0.833333,1.083333
1336,Zeke Zawoluk,5862,69.0,179.0,19.743017,2.212291,5.949721,0.371831,2.212291,5.949721,0.371831,2.335196,3.044693,0.766972,4.089385,1.212291,2.513966,6.759777
1337,Zelmo Beaty*,15737,217.0,570.0,32.189474,5.957895,12.696491,0.469255,5.957895,12.696491,0.469255,4.061404,5.415789,0.749919,10.436842,1.471930,3.740351,15.977193

Due to wrangling the data I got NaN in some of the columns. This is due to the calculating of the percentages because some players have zero attempts in some of the shots. Since they have zero attempts the corresponding percentage should be zero too.

**1) Modern Era**

In [16]:
#To get a percent of the data that is NaN
player_mdf.isnull().sum() / player_mdf.shape[0] * 100

Player     0.000000
Year       0.000000
Age        0.000000
G          0.000000
GS         0.000000
MP         0.000000
FG         0.000000
FGA        0.000000
FG%        0.502670
3P         0.000000
3PA        0.000000
3P%       12.378260
2P         0.000000
2PA        0.000000
2P%        0.816839
eFG%       0.502670
FT         0.000000
FTA        0.000000
FT%        4.618285
ORB        0.000000
DRB        0.000000
TRB        0.000000
AST        0.000000
STL        0.000000
BLK        0.000000
TOV        0.000000
PF         0.000000
PTS        0.000000
dtype: float64

In [17]:
player_mdf=player_mdf.fillna(0)
player_mdf

,Player,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,A.C. Green,35890,538.0,1361.0,905.0,28.687730,3.510654,7.116826,0.493289,0.091844,0.373990,0.245580,3.418810,6.742836,0.507028,0.499742,2.385746,3.267450,0.730155,2.627480,4.814842,7.442322,1.079353,0.810434,0.412932,1.108009,1.896400,9.498898
1,A.J. Bramlett,2000,23.0,8.0,0.0,7.625000,0.500000,2.625000,0.190476,0.000000,0.000000,0.000000,0.500000,2.625000,0.190476,0.190476,0.000000,0.000000,0.000000,1.500000,1.250000,2.750000,0.000000,0.125000,0.000000,0.375000,1.625000,1.000000
2,A.J. English,3983,47.0,151.0,18.0,20.582781,4.086093,9.390728,0.435120,0.059603,0.430464,0.138462,4.026490,8.960265,0.449372,0.438293,1.715232,2.205298,0.777778,0.927152,1.158940,2.086093,2.119205,0.377483,0.158940,1.344371,1.900662,9.947020
3,A.J. Guyton,6006,69.0,80.0,14.0,15.575000,2.075000,5.500000,0.377273,0.912500,2.412500,0.378238,1.162500,3.087500,0.376518,0.460227,0.462500,0.562500,0.822222,0.275000,0.725000,1.000000,1.837500,0.250000,0.150000,0.775000,0.725000,5.525000
4,A.J. Hammons,2017,24.0,22.0,0.0,7.409091,0.772727,1.909091,0.404762,0.227273,0.454545,0.500000,0.545455,1.454545,0.375000,0.464286,0.409091,0.909091,0.450000,0.363636,1.272727,1.636364,0.181818,0.045455,0.590909,0.454545,0.954545,2.181818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,Šarūnas Marčiulionis*,13954,199.0,363.0,30.0,22.377410,4.327824,8.564738,0.505307,0.349862,0.947658,0.369186,3.977961,7.617080,0.522242,0.525732,3.752066,4.884298,0.768190,0.804408,1.451791,2.256198,2.223140,1.264463,0.085399,1.969697,2.674931,12.757576
3179,Žan Tabak,15983,215.0,304.0,104.0,15.101974,2.233553,4.493421,0.497072,0.000000,0.013158,0.000000,2.233553,4.480263,0.498532,0.497072,0.598684,1.197368,0.500000,1.345395,2.256579,3.601974,0.700658,0.279605,0.539474,1.085526,2.434211,5.065789
3180,Žarko Paspalj,1990,23.0,28.0,1.0,6.464286,0.964286,2.821429,0.341772,0.000000,0.035714,0.000000,0.964286,2.785714,0.346154,0.341772,0.642857,0.785714,0.818182,0.535714,0.535714,1.071429,0.357143,0.107143,0.250000,0.750000,1.321429,2.571429
3181,Žarko Čabarkapa,10025,115.0,190.0,4.0,10.657895,1.684211,3.815789,0.441379,0.194737,0.652632,0.298387,1.489474,3.163158,0.470882,0.466897,1.057895,1.405263,0.752809,0.700000,1.478947,2.178947,0.578947,0.226316,0.157895,0.784211,1.473684,4.621053
3182,Željko Rebrača,14028,217.0,239.0,24.0,14.866109,2.184100,4.196653,0.520439,0.000000,0.000000,0.000000,2.184100,4.196653,0.520439,0.520439,1.351464,1.711297,0.789731,0.916318,2.205021,3.121339,0.393305,0.259414,0.715481,0.920502,2.359833,5.719665

In [18]:
player_mdf.isnull().sum() / player_mdf.shape[0] * 100

Player    0.0
Year      0.0
Age       0.0
G         0.0
GS        0.0
MP        0.0
FG        0.0
FGA       0.0
FG%       0.0
3P        0.0
3PA       0.0
3P%       0.0
2P        0.0
2PA       0.0
2P%       0.0
eFG%      0.0
FT        0.0
FTA       0.0
FT%       0.0
ORB       0.0
DRB       0.0
TRB       0.0
AST       0.0
STL       0.0
BLK       0.0
TOV       0.0
PF        0.0
PTS       0.0
dtype: float64

**2) Pre Modern Era**

In [19]:
player_pmdf.isnull().sum() / player_pmdf.shape[0] * 100

Player    0.000000
Year      0.000000
Age       0.000000
G         0.000000
MP        0.000000
FG        0.000000
FGA       0.000000
FG%       0.149477
2P        0.000000
2PA       0.000000
2P%       0.149477
FT        0.000000
FTA       0.000000
FT%       2.989537
TRB       0.000000
AST       0.000000
PF        0.000000
PTS       0.000000
dtype: float64

In [20]:
player_pmdf=player_pmdf.fillna(0)
player_pmdf

,Player,Year,Age,G,MP,FG,FGA,FG%,2P,2PA,2P%,FT,FTA,FT%,TRB,AST,PF,PTS
0,A.W. Holt,1971,24.0,6.0,2.333333,0.166667,1.333333,0.125000,0.166667,1.333333,0.125000,0.333333,0.500000,0.666667,0.666667,0.000000,0.166667,0.666667
1,Aaron James,9885,120.0,356.0,21.547753,4.519663,9.401685,0.480729,4.519663,9.401685,0.480729,1.716292,2.258427,0.759950,4.129213,1.039326,2.730337,10.755618
2,Adrian Dantley*,9890,110.0,295.0,35.447458,7.030508,13.677966,0.514002,7.030508,13.677966,0.514002,6.271186,7.742373,0.809982,7.352542,2.671186,2.857627,20.332203
3,Adrian Smith,23605,361.0,796.0,24.385678,4.070352,9.560302,0.425756,4.070352,9.560302,0.425756,3.090452,3.683417,0.839018,2.087940,2.297739,2.339196,11.231156
4,Al Attles*,21626,319.0,711.0,25.071730,3.514768,7.798875,0.450676,3.514768,7.798875,0.450676,1.870605,2.962025,0.631529,3.464135,3.492264,3.399437,8.900141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,York Larese,5886,69.0,118.0,11.915254,2.067797,5.542373,0.373089,2.067797,5.542373,0.373089,0.983051,1.220339,0.805556,1.305085,1.593220,1.762712,5.118644
1334,Zaid Abdul-Aziz,27629,371.0,570.0,21.273684,3.396491,8.049123,0.421970,3.396491,8.049123,0.421970,1.940351,2.694737,0.720052,7.936842,1.136842,2.217544,8.733333
1335,Zeke Sinicola,3906,48.0,12.0,4.000000,0.416667,1.666667,0.250000,0.416667,1.666667,0.250000,0.250000,0.666667,0.375000,0.166667,0.250000,0.833333,1.083333
1336,Zeke Zawoluk,5862,69.0,179.0,19.743017,2.212291,5.949721,0.371831,2.212291,5.949721,0.371831,2.335196,3.044693,0.766972,4.089385,1.212291,2.513966,6.759777
1337,Zelmo Beaty*,15737,217.0,570.0,32.189474,5.957895,12.696491,0.469255,5.957895,12.696491,0.469255,4.061404,5.415789,0.749919,10.436842,1.471930,3.740351,15.977193

In [21]:
player_pmdf.isnull().sum() / player_pmdf.shape[0] * 100

Player    0.0
Year      0.0
Age       0.0
G         0.0
MP        0.0
FG        0.0
FGA       0.0
FG%       0.0
2P        0.0
2PA       0.0
2P%       0.0
FT        0.0
FTA       0.0
FT%       0.0
TRB       0.0
AST       0.0
PF        0.0
PTS       0.0
dtype: float64

Dropped the Year and Age columns because they aren't necessary and rounded the data to 2 decimal places

In [22]:
player_mdf = player_mdf.round(2)
player_mdf.drop(['Year','Age'], axis = 1,inplace = True)
player_mdf.head()

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,A.C. Green,1361.0,905.0,28.69,3.51,7.12,0.49,0.09,0.37,0.25,3.42,6.74,0.51,0.50,2.39,3.27,0.73,2.63,4.81,7.44,1.08,0.81,0.41,1.11,1.90,9.50
1,A.J. Bramlett,8.0,0.0,7.62,0.50,2.62,0.19,0.00,0.00,0.00,0.50,2.62,0.19,0.19,0.00,0.00,0.00,1.50,1.25,2.75,0.00,0.12,0.00,0.38,1.62,1.00
2,A.J. English,151.0,18.0,20.58,4.09,9.39,0.44,0.06,0.43,0.14,4.03,8.96,0.45,0.44,1.72,2.21,0.78,0.93,1.16,2.09,2.12,0.38,0.16,1.34,1.90,9.95
3,A.J. Guyton,80.0,14.0,15.58,2.08,5.50,0.38,0.91,2.41,0.38,1.16,3.09,0.38,0.46,0.46,0.56,0.82,0.28,0.72,1.00,1.84,0.25,0.15,0.78,0.72,5.52
4,A.J. Hammons,22.0,0.0,7.41,0.77,1.91,0.40,0.23,0.45,0.50,0.55,1.45,0.37,0.46,0.41,0.91,0.45,0.36,1.27,1.64,0.18,0.05,0.59,0.45,0.95,2.18

In [23]:
player_pmdf = player_pmdf.round(2)
player_pmdf.drop(['Year','Age'], axis = 1,inplace = True)
player_pmdf

,Player,G,MP,FG,FGA,FG%,2P,2PA,2P%,FT,FTA,FT%,TRB,AST,PF,PTS
0,A.W. Holt,6.0,2.33,0.17,1.33,0.12,0.17,1.33,0.12,0.33,0.50,0.67,0.67,0.00,0.17,0.67
1,Aaron James,356.0,21.55,4.52,9.40,0.48,4.52,9.40,0.48,1.72,2.26,0.76,4.13,1.04,2.73,10.76
2,Adrian Dantley*,295.0,35.45,7.03,13.68,0.51,7.03,13.68,0.51,6.27,7.74,0.81,7.35,2.67,2.86,20.33
3,Adrian Smith,796.0,24.39,4.07,9.56,0.43,4.07,9.56,0.43,3.09,3.68,0.84,2.09,2.30,2.34,11.23
4,Al Attles*,711.0,25.07,3.51,7.80,0.45,3.51,7.80,0.45,1.87,2.96,0.63,3.46,3.49,3.40,8.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,York Larese,118.0,11.92,2.07,5.54,0.37,2.07,5.54,0.37,0.98,1.22,0.81,1.31,1.59,1.76,5.12
1334,Zaid Abdul-Aziz,570.0,21.27,3.40,8.05,0.42,3.40,8.05,0.42,1.94,2.69,0.72,7.94,1.14,2.22,8.73
1335,Zeke Sinicola,12.0,4.00,0.42,1.67,0.25,0.42,1.67,0.25,0.25,0.67,0.38,0.17,0.25,0.83,1.08
1336,Zeke Zawoluk,179.0,19.74,2.21,5.95,0.37,2.21,5.95,0.37,2.34,3.04,0.77,4.09,1.21,2.51,6.76
1337,Zelmo Beaty*,570.0,32.19,5.96,12.70,0.47,5.96,12.70,0.47,4.06,5.42,0.75,10.44,1.47,3.74,15.98

## Creating the Hall of Fame column

In [24]:
#Creating the HoF column and applying values of Yes/No. Yes if they were in the hall of fame and no if they weren't
player_mdf['HoF'] = player_mdf['Player'].apply(lambda x: 'Yes' if '*' in x else 'No')


player_pmdf['HoF'] = player_pmdf['Player'].apply(lambda x: 'Yes' if '*' in x else 'No')

In [25]:
# Getting rid of the '*' in the Player column
player_mdf['Player'] = player_mdf['Player'].apply(lambda x: x.split('*')[0])


player_pmdf['Player'] = player_pmdf['Player'].apply(lambda x: x.split('*')[0])

In [26]:
player_mdf

,Player,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,HoF
0,A.C. Green,1361.0,905.0,28.69,3.51,7.12,0.49,0.09,0.37,0.25,3.42,6.74,0.51,0.50,2.39,3.27,0.73,2.63,4.81,7.44,1.08,0.81,0.41,1.11,1.90,9.50,No
1,A.J. Bramlett,8.0,0.0,7.62,0.50,2.62,0.19,0.00,0.00,0.00,0.50,2.62,0.19,0.19,0.00,0.00,0.00,1.50,1.25,2.75,0.00,0.12,0.00,0.38,1.62,1.00,No
2,A.J. English,151.0,18.0,20.58,4.09,9.39,0.44,0.06,0.43,0.14,4.03,8.96,0.45,0.44,1.72,2.21,0.78,0.93,1.16,2.09,2.12,0.38,0.16,1.34,1.90,9.95,No
3,A.J. Guyton,80.0,14.0,15.58,2.08,5.50,0.38,0.91,2.41,0.38,1.16,3.09,0.38,0.46,0.46,0.56,0.82,0.28,0.72,1.00,1.84,0.25,0.15,0.78,0.72,5.52,No
4,A.J. Hammons,22.0,0.0,7.41,0.77,1.91,0.40,0.23,0.45,0.50,0.55,1.45,0.37,0.46,0.41,0.91,0.45,0.36,1.27,1.64,0.18,0.05,0.59,0.45,0.95,2.18,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,Šarūnas Marčiulionis,363.0,30.0,22.38,4.33,8.56,0.51,0.35,0.95,0.37,3.98,7.62,0.52,0.53,3.75,4.88,0.77,0.80,1.45,2.26,2.22,1.26,0.09,1.97,2.67,12.76,Yes
3179,Žan Tabak,304.0,104.0,15.10,2.23,4.49,0.50,0.00,0.01,0.00,2.23,4.48,0.50,0.50,0.60,1.20,0.50,1.35,2.26,3.60,0.70,0.28,0.54,1.09,2.43,5.07,No
3180,Žarko Paspalj,28.0,1.0,6.46,0.96,2.82,0.34,0.00,0.04,0.00,0.96,2.79,0.35,0.34,0.64,0.79,0.82,0.54,0.54,1.07,0.36,0.11,0.25,0.75,1.32,2.57,No
3181,Žarko Čabarkapa,190.0,4.0,10.66,1.68,3.82,0.44,0.19,0.65,0.30,1.49,3.16,0.47,0.47,1.06,1.41,0.75,0.70,1.48,2.18,0.58,0.23,0.16,0.78,1.47,4.62,No
3182,Željko Rebrača,239.0,24.0,14.87,2.18,4.20,0.52,0.00,0.00,0.00,2.18,4.20,0.52,0.52,1.35,1.71,0.79,0.92,2.21,3.12,0.39,0.26,0.72,0.92,2.36,5.72,No

In [27]:
player_pmdf

,Player,G,MP,FG,FGA,FG%,2P,2PA,2P%,FT,FTA,FT%,TRB,AST,PF,PTS,HoF
0,A.W. Holt,6.0,2.33,0.17,1.33,0.12,0.17,1.33,0.12,0.33,0.50,0.67,0.67,0.00,0.17,0.67,No
1,Aaron James,356.0,21.55,4.52,9.40,0.48,4.52,9.40,0.48,1.72,2.26,0.76,4.13,1.04,2.73,10.76,No
2,Adrian Dantley,295.0,35.45,7.03,13.68,0.51,7.03,13.68,0.51,6.27,7.74,0.81,7.35,2.67,2.86,20.33,Yes
3,Adrian Smith,796.0,24.39,4.07,9.56,0.43,4.07,9.56,0.43,3.09,3.68,0.84,2.09,2.30,2.34,11.23,No
4,Al Attles,711.0,25.07,3.51,7.80,0.45,3.51,7.80,0.45,1.87,2.96,0.63,3.46,3.49,3.40,8.90,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,York Larese,118.0,11.92,2.07,5.54,0.37,2.07,5.54,0.37,0.98,1.22,0.81,1.31,1.59,1.76,5.12,No
1334,Zaid Abdul-Aziz,570.0,21.27,3.40,8.05,0.42,3.40,8.05,0.42,1.94,2.69,0.72,7.94,1.14,2.22,8.73,No
1335,Zeke Sinicola,12.0,4.00,0.42,1.67,0.25,0.42,1.67,0.25,0.25,0.67,0.38,0.17,0.25,0.83,1.08,No
1336,Zeke Zawoluk,179.0,19.74,2.21,5.95,0.37,2.21,5.95,0.37,2.34,3.04,0.77,4.09,1.21,2.51,6.76,No
1337,Zelmo Beaty,570.0,32.19,5.96,12.70,0.47,5.96,12.70,0.47,4.06,5.42,0.75,10.44,1.47,3.74,15.98,Yes

## Save Dataframes to csv

In [28]:
# Export data set to csv

#Export Modern Era
player_mdf.to_csv('modern_players.csv',index=False)

#Export Pre Modern Era
player_pmdf.to_csv('pre_modern_players.csv',index=False)